<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pincode verification testcase">
    <test verbose="2" preserve-order="true" name="ATB11xAPIAutomationProgram">
        <classes>
            <class name="com.thetestingacademy.ex_03_TestNG_with_AllureReport.APITesting_Lab_06_Testcase">

            </class>
        </classes>
    </test>
</suite>